<div class="p-fluid p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-4">
    <div class="p-field">
      <label for="">Firstname</label>
      <input type="text" pInputText [(ngModel)]="fname" />
    </div>
    <div class="p-field">
      <label for="">Lastname</label>
      <input type="text" pInputText [(ngModel)]="lname" />
    </div>
    <div class="p-field">
      <label for="">Age</label>
      <input type="text" pInputText [(ngModel)]="age" />
    </div>
    <div class="p-field">
      <label for="">Api</label>
      <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
      <p-dropdown [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name"></p-dropdown>
      <!-- <p-dropdown inputId="state" placeholder="Select" optionLabel="name"></p-dropdown> -->
      <!-- <select>
        <option value="">aa</option>
        <option value="">bb</option>
        <option value="">cc</option>
      </select> -->
    </div>
    <div>{{ regisData | json }}</div>
    <p-button label="Submit" (click)="addRegis()"></p-button>
  </div>
  <div class="p-col-3"></div>
  <div class="p-col-4">
    <table style="width: 100%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr *ngFor="let r of regisData">
        <td>{{ r.fname }}</td>
        <td>{{ r.lname }}</td>
        <td>{{ r.age }}</td>
      </tr>
    </table>
    <!-- <p-table [value]="regisData">
      <ng-template pTemplate="header">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-r>
        <tr>
          <td>{{ r.fname }}</td>
          <td>{{ r.lname }}</td>
          <td>{{ r.age }}</td>
        </tr>
      </ng-template>
    </p-table> -->
  </div>
</div>
