<div class="">
  <label for="">Firstname</label>
  <input type="text" pInputText [(ngModel)]="fname" />
</div>
<div class="">
  <label for="">Lastname</label>
  <input type="text" name="" id="" [(ngModel)]="lname">
</div>
<div>{{ fname }} {{lname}}</div>
<p-button label="Submit"></p-button>
<!-- <div class="p-fluid">
  <div class="p-field">
      <label for="firstname1">Firstname</label>
      <input id="firstname1" type="text" pInputText>
  </div>
  <div class="p-field">
      <label for="lastname1">Lastname</label>
      <input id="lastname1" type="text" pInputText>
  </div>
</div> -->
